body{
    padding: 0px;
    background-color: rgb(225, 231, 232);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.start_container{
    z-index: 4000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: hello 2s normal;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 100px;
}

@media start_container{

}
.start_animation_video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.start_animation_video img{
    width: 60%;
    display: inline-block;
}

.start_upper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vw;

    animation: 2s  mera_animation normal;
}

@keyframes mera_animation {

    0%{
        transform: scale(0.4);
    }

    100%{
        transform:scale(1);
    }
    
}


.slide-up {
    animation: slideUp 1.5s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-150%);
        opacity: 1;
    }
}

.navbar{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(18, 11, 11);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 1% 5px 1%;
}

.companyname{
    margin-left: 8%;
    color:white;
    font-size: 4vw;
    width: 20%;
}

.menuicon img{
    width: 4.5vw;
    height: 4.5vw;
}

.menuicon{
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    margin-left: 2%;
    width: 4%;
}

.anchorbtn{
    margin-left: 35%;
    width: 29%;
    display: flex;
    justify-content: space-evenly;
}

.anchorbtn a{
    font-size: 3vw;
    text-decoration: none;
    color:white;
}


.sidebar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -20%;
    width: 15%;
    height: 900px;
    z-index: 3000;
    background-color:rgb(18, 11, 11) ;
    transition: 0.5s ease;
}



.sidebar_btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

a{
    text-decoration: none;
    color: white;
}

.menuname{
    width: 98%;
    padding: 15px 1% 15px 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -230px;
}

.name{
    font-size: 3vw;
    color: white;
}
.closebtn{
    width: 25px;
    height: 25px;
    cursor:pointer;
}


.sidebar_btn a{
    width: 100%;
    background-color:rgb(46, 39, 39) ;
    padding: 5px 8px 5px 8px;
    margin-top: -120px;
    border-radius: 10px;
    font-size: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.logout_btn{
    
    padding: 5px 8px 5px 8px;
    margin-top: -20px;
    border-radius: 10px;
    font-size: 2vw;
}


.allform{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 60%;
    padding: 10px 3% 20px 3%;
}

.allform form{

    width: 100%;
}

.allform form button{
    width: 96%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 2.5vw;
    padding: 5px 0px 5px 0px;
    transition: 0.8s;
    margin-left: 2%;
}


.allform form button:hover{
    transform: scale(1.1);
}

label{
    display: block;
    font-size: 1.5vw;
    margin-bottom: 6px;
}

input,textarea{
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    margin-bottom: 10px;
    background-color: rgb(229, 236, 236);
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 2vw;
}

.allform h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.errormsg{
    font-size: 2vw;
}

.single_post_container{
    background-color: rgb(255, 255, 255);
    width: 39%;
    margin: 0px 4% 80px 6%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.all_post_container{
    margin-top: 100px;
    width: 100%;

}

.post_upper a{
    margin-left: -40%;
    width:95%;
    padding: 10px 2.5% 10px 2.5%;
    display: flex;
    justify-content: flex-start;
}

.post_profile_image img{
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
}

.post_username{
    color: black;
    font-size: 2vw;
    margin: 15px 0px 0px 10px;
}

.post_title{
    font-size: 2vw;
}

.post_image img{
    width: 90%;
    height: 20vw;
}
.post_image{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.post_description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5% 0px 5%;
}
.post_description h1{
    font-weight: 200;
    font-size: 1.5vw;
}


.post_timing{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    margin: 5px 0px 10px 15px;
    font-size: 1vw;
}

.lcss{
    width: 85%;
    padding: 0px 4% 0px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lcss img{
    width: 3vw;
    height: 3vw;
    margin-inline: 1%;
    cursor: pointer;
}



form a{
    color: black;
}

.profile_upperportion{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.insideupper1{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.profile_picture img{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.profile_pff{
    margin-top: 10px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3vw;
}
.btn_icon{
    width: 6%;
    font-size: 4vw;
    margin-top: 4vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.insideupper2{
    
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 10px;
}



.likee{
    z-index: 1;
}

.profile_name{
    font-size: 4vw;
    margin-bottom: 10px;

}
.profile_bio{
    font-size: 2.5vw;
    font-weight: 100;
}
.follow_btn{
    width: 9%;
    display: block;
    background-color: black;
    border-radius: 5px;
    font-size: 3vw;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
}


.post_count{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.btn_icon .dots_btn{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    font-size: 2vw;
    top: 240px;
    right: 1vw;
    background-color: white;
    color: black;
    

}

@media (max-width : 900px) {
    .btn_icon .dots_btn{
        position: absolute;
        top: 200px;
    }
}

@media (max-width:500px){
    .btn_icon .dots_btn{
        position: absolute;
        top: 150px;
    }
}
.dots_btn a{
    color: black;
    margin-block: 5px;
    margin-inline:5px;
}



